/* Thanks to the font designer. No commercial usage allowed. */
@font-face {
  font-family: "fs";
  src: url("simfang.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply only to elements with class "font-hycxj" */
.font-fs {
  font-family: "fs", sans-serif;
}

/* Remove underline for all links */
a {
  text-decoration: none;
  /* color: blue; */
  /* Optional: set link color */
}

/* Optional: Add underline only when hovered */
a:hover {
  text-decoration: underline;
}